.category-filter {
  margin-right: auto;
 margin-left: 80px;
 margin-bottom: 30px;
 margin-top: 30px;
 
 
}


.category-filter > h3{

  font-weight: bold;
  margin: 10px;
}

.chips {
  display: flex;
  gap: 10px;
}

.chips span {
  background: #f2f5e9;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}