.navbar {
  backdrop-filter: blur(20px);
  display: flex;
  width: 90%;
  position: sticky;
  top:10px;
  border-radius: 1rem;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
 background: linear-gradient(to bottom, #2e7d32, #ffffff);
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #3f5d2a;
}

.search-box {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 8px 12px;
  border-radius: 20px;
  width: 40%;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
}

.mic {
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}