.product-card {
  background: #fff;
  border-radius: 14px;
  padding: 12px;
  width: 230px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.price {
  font-weight: bold;
  margin: 5px 0;
}

.product-card button {
  width: 100%;
  background: #556b2f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}