.add-millet-form {
    margin-bottom: auto;
    margin-top: auto;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  height: 500px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.add-millet-form h2 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.add-millet-form input {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-millet-form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.add-millet-form button:hover {
  background-color: #45a049;
}