.topbar {
    background-color: white;
    position: sticky;
    height: 70px;
    top: 0;
    z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.user {
  font-size: 14px;
}