.table-box {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  margin-top: 20px;
}

.table-box h3 {
  margin-bottom: 10px;
  font-size: 18px;
}


.mobile-table {
  width: 100%;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}


.table-header {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 0.8fr;
  background: #f1f5f9;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
}

.table-row {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 0.8fr;
  padding: 12px 10px;
  border-top: 1px solid #e5e7eb;
  align-items: center;
  font-size: 14px;
}

.millet-name {
  font-weight: 600;
}


.edit-btn {
  background: #1976d2;
  color: white;
  border: none;
  padding: 6px 0;
  border-radius: 6px;
  font-size: 13px;
}


@media (min-width: 769px) {
  .mobile-table {
    max-width: 700px;
  }
}