.Otp {
  margin-top: auto;
    margin-bottom: auto;
  background: rgba(255, 255, 255, 0.95);
  padding: 40px;
  width: 350px;
  border-radius: 20px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
  text-align: center;
  backdrop-filter: blur(10px);
  animation: fadeIn 0.8s ease-in-out;
}

.Otp h1 {
  margin-bottom: 20px;
}

.inputs {
  width: 100%;
  max-width: 360px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 500;
}

.input input {
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.input input:focus {
  border-color: #1976d2;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.extra {
  margin-top: 12px;
  text-align: center;
}

.resend {
  background: none;
  border: none;
  color: #1976d2;
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
}

.back {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}