#Navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background:linear-gradient(to top, white , rgb(106, 246, 106));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
    padding: 10px;
    position: relative;
}

#Links{

    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    
}

.Link{
    text-decoration: none;
    color: black;
    transition: ease-in-out .2s;
    

}

.Link:hover{

    color:green;
    border-radius: .3rem;
}
.Link:nth-last-child(1){

    border: solid 2px ;
    padding: 2px 5px;
    border-radius: .3rem;
    transition: ease-in-out .2s;

    
}

.Link:nth-last-child(1):hover{
    background-color: green;
    color: white;
    text-decoration: none;
}



@media (max-width:920px) {
    
    #Links{
        display: none;
    }
    .Link:hover{

        background-color: rgba(128, 128, 128, 0.413);
    }
    
}

#Menubar{
    display: none;
    font-size: 1.5rem;
    transition: ease-in-out .2s;
    cursor: pointer;
}

#Menubar:hover{
    scale: 1.1;
}

#Sidebarlinks{

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    position: absolute;
    right: 0;
    top: 80px;
    right: 0;
    overflow: hidden;
    width: 0px;
    height: calc(100vh - 80px);
    background:linear-gradient(to bottom, white , rgb(106, 246, 106));
    
}

#Sidebarlinks > .Link{
    overflow: hidden;
    width: 95%;
    padding: 10px;

}

@media (max-width:920px) {
    
    #Menubar{
        display: block;
    }
    #Sidebarlinks{
        display: flex;
    }
}
