#Navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    background:linear-gradient(to top, white , rgb(106, 246, 106));
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
    padding: 10px;
    position: relative;
}

#Links{

    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    
}

.Link{
    text-decoration: none;
    color: black;
    transition: ease-in-out .2s;
}

.Link:nth-last-child(1){

     font-weight: bold;
    border:none;
    font-size: .9rem;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 5px;
    border-radius: .3rem;
    color: white;
    width: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 27, 0);
    transition: ease-in-out .2s;
    border: solid 1px rgb(0, 0, 0);

}

.Link:nth-last-child(1):hover{

    background-color: white;
    color: black;
}





.Link:nth-last-child(1):hover{

    background-color: white;
    color: black;
}




.Link:nth-last-child(2){

     font-weight: bold;
    border:none;
    font-size: .9rem;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 5px 5px;
    width: 70px;
    align-items: center;
    justify-content: center;
    border-radius: .3rem;
    color: rgb(0, 0, 0);
    
    transition: ease-in-out .2s;
    border: solid 1px rgb(0, 0, 0);

}

.Link:nth-last-child(2):hover{

    background-color: white;
    color: black;
}




.Link:hover{

    color:green;
    border-radius: .3rem;
}




@media (max-width:920px) {
    
    #Links{
        display: none;
    }
    .Link:hover{

        background-color: rgba(128, 128, 128, 0.413);
    }

    .Link:nth-last-child(3){

        font-weight: bold;
    border:none;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 2px 5px;
    border-radius: .3rem;
    color: white;
    background-color: rgb(56, 27, 0);
    transition: ease-in-out .2s;

}
.Link:nth-last-child(4){
     display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
font-weight: bold;
    border: solid 1px ;
    padding: 2px 5px;
    border-radius: .3rem;
    transition: ease-in-out .2s;
}

.Link:nth-last-child(3):hover{
    scale: .98;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.Link:nth-last-child(4):hover{
    background-color: green;
    color: white;
     scale: .98;
    text-decoration: none;
}
    
}

#Menubar{
    display: none;
    font-size: 1.5rem;
    transition: ease-in-out .2s;
    cursor: pointer;
}

#Menubar:hover{
    scale: 1.1;
}

#Menubar::selection{

    background-color: transparent;
}

#Sidebarlinks{

    padding-top: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.281);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 15px;
    position: absolute;
    right: 0;
    top: 80px;
    right: 0;
    overflow: hidden;
    width: 0px;
    height: calc(100vh - 80px);
    background:linear-gradient(to bottom, white , rgb(106, 246, 106));
    
}

#Sidebarlinks > .Link{
    
    overflow: hidden;
    width: 95%;
    padding: 10px;

}






@media (max-width:920px) {
    
    #Menubar{
        display: block;
    }
    #Sidebarlinks{
        display: flex;
    }
}


hr{
    width: 95%;
   border: solid rgba(0, 0, 0, 0.482) 1px;
}
hr:nth-last-child(2){

    width: 50%;
} 